@import url('variables.css');

/* #region ::::::::::: 1# - STANDARD ELEMENTS  :::::::::::::::::::::::: */

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--text-xxl);
    font-family: var(--font-family-headers-lg);
    color: var(--primary-color-6);
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 600;
}

h2 {
    font-size: var(--text-xl);
    font-family: var(--font-family-headers-lg);
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}

h3 {
    font-size: var(--text-lg);
    font-family: var(--font-family-headers-md);
    color: var(--secondary-color-0);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

h4 {
    font-size: var(--text-mdl);
    font-family: var(--font-family-headers-md);
    color: var(--primary-color-7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

h5 {
    font-size: var(--text-md);
    font-family: var(--font-family-headers-md);
    color: var(--secondary-color-8);
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

input,
select {
    background-color: var(--secondary-color-1) !important;
    color: var(--primary-color-6) !important;
}

input:focus,
select:focus,
input:active,
select:active {
    outline-color: var(--primary-color-6) !important;
    outline-width: 1px !important;
}

button:focus,
button:active,
button:hover,
a:focus,
a:active {
    outline-color: transparent !important;
    outline-width: 0px !important;
    text-decoration: none !important;
    color: inherit !important;
}

.container-fluid {
    max-width: var(--screen-max-width);
}

.container {
    max-width: var(--screen-max-width);
}

.red {
    background-color: red !important;
}

.blue {
    background-color: blue !important;
}

.green {
    background-color: green;
}

.orange {
    background-color: rgba(175, 216, 230, 0.5);
}

/* #endregion ========================================================= */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - GENERIC  :::::::::::::::::::::::::::::::::: */

/* #region - Positional */

.relative {
    position: relative;
}

.overflow-1 {
    overflow: visible;
}

.float-left {
    display: block;
    float: left;
}

.float-right {
    display: block;
    float: right;
}

.display-inline {
    display: inline-block;
}

.layer-1 {
    position: relative;
    z-index: var(--layer-1);
}

.layer-5 {
    position: relative;
    z-index: var(--layer-5);
}

/* #endregion */

/* #region - Icons */

.icon-xl {
    font-size: var(--text-xxxl);
}

.icon-light {
    color: var(--light-color-1);
}

/* #endregion


/* #endregion ========================================================= */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - FLIP - Open/close  :::::::::::::::::::::::: */

.flip-hide {
    position: absolute;
    display: none;
}

.flip-show {
    position: static;
    display: block;
}

/* #endregion ========================================================= */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - LANDING PAGE  ::::::::::::::::::::::::::::: */

/* #region - Containers / Structure */
.main-page-header-background {
    background-image: url(../img/track-sky-2560-1440-3.jpg);
}

.header-background-full {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100vh;
    min-height: 100vh;
}

.landing-main-container {
    position: relative;
    font-size: 1rem;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    width: 100vw !important;
    height: 95vh !important;
}

.marg-top {
    margin-top: 100px;
}

.sub-container-wide {
    max-width: var(--screen-max-width);
}

.sub-container-narrow {
    position: relative;
    max-width: 992px;
}

/* #endregion */

/* #region Landing Text */

.landing-all-text-wrapper {
    width: 800px !important;
}

.landing-col-filler {
    width: calc(992px - 800px);
}

.landing-text-box {
    display: border-box;
    position: relative;
}

.landing-text {
    position: relative;
    z-index: var(--layer-2);
    text-align: left !important;
}

.landing-1-wrapper {
    position: relative;
    z-index: var(--layer-1);
    margin-top: 0px;
}

.landing-1-text {
    font-size: var(--text-xl);
    color: var(--primary-color-5);
    font-weight: 600;
    padding-right: 80px;
}

.landing-2-wrapper {
    margin-top: 25px;
    padding-right: 100px;
}

.landing-2-text {
    position: relative;
    display: block;
    font-size: var(--text-mdl);
    color: var(--secondary-color-1);
    font-weight: 500;
}

.text-2-1-down {
    position: relative;
    top: 20px;
    padding-right: 160px;
}

.text-2-2-down {
    position: relative;
    top: 35px;
    padding-right: 220px;
}

.landing-3-wrapper {
    margin-top: 90px;
    padding-right: 250px;
}

.landing-3-text {
    font-size: var(--text-xxxxl);
    color: var(--primary-color-6);
    letter-spacing: 20px;
    font-weight: 500;
    text-align: right;
}

/* #endregion */

/* #region Hero image */

.landing-hero-image {
    position: absolute;
    right: 0px;
    top: -35px;
    z-index: var(--layer-3);
}

.landing-hero-image img {
    max-width: 500px;
    position: relative;
    z-index: var(--layer-3);
}

.landing-text-bg {
    position: absolute;
    z-index: var(--layer-1);
    background: linear-gradient(
        to right,
        rgba(175, 216, 230, 0) 0%,
        rgba(175, 216, 230, 0.3) 30%,
        rgba(41, 137, 216, 0.4) 80%,
        rgba(41, 137, 216, 0.5) 100%
    );
}

.landing-1-backgr {
    right: 0px;
    top: 0px;
    height: 60px;
    width: 80%;
}

.landing-2-1-backgr {
    right: 100px;
    top: 20px;
    width: 80%;
    height: 60px;
}

.landing-2-2-backgr {
    right: 100px;
    top: 25px;
    width: 80%;
    height: 60px;
}

.landing-3-backgr {
    right: -50px;
    top: 5px;
    height: 65px;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba(175, 216, 230, 0) 0%,
        rgba(175, 216, 230, 0.6) 50%,
        rgba(41, 137, 216, 0.7) 60%,
        rgba(41, 137, 216, 0.7) 100%
    );
}

/* #endregion */

/* #region Top-10-button */

.top10-button-wrapper {
    position: relative;
    z-index: 10;
    left: -30px;
    height: 100px;
    width: 100%;
    background-color: transparent;
    z-index: var(--layer-1);
}

.top10-button-wrapper a {
    display: block;
}

.top10-button-wrapper div {
    display: inline-block;
}

.top10-button-text {
    position: relative;
    z-index: 1;
    display: block;
    margin: 15px 0 !important;
    height: 70px !important;
    width: 100%;
    border: 1px solid var(--secondary-color-0);
    border-left: none;
    border-bottom-right-radius: 140px;
    border-top-right-radius: 140px;
    line-height: 20px;
    background: linear-gradient(
        to right,
        rgba(246, 246, 246, 0.8) 0%,
        rgba(246, 246, 246, 0.1) 100%
    );
}

.top10-button-text-inner {
    position: relative;
    top: -5px;
}

.top10-button-text div h3 {
    font-size: 1.3em;
    letter-spacing: 10px;
}

.top10-button-text div h3 span {
    color: var(--primary-color-4);
    font-size: 1.5em;
}

.top10-button-text div h4 {
    position: relative;
    bottom: 10px;
    font-size: var(--text-lg);
}

.top10-button-text:hover {
    position: relative;
    z-index: 1;
}

.top10-button-img {
    position: relative;
    z-index: 100;
    right: -20px;
    max-width: 111px;
}

.top10-button-icon {
    position: absolute;
    z-index: 100;
    bottom: 30px;
    right: 50px;
    font-size: 40px;
}

/* #endregion */

/* #endregion END - Landing page */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - TOP-10  ::::::::::::::::::::::::::::::::::: */

/* #region =====  Header ==== */
.top-10-main-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 1rem;
}

.top-10-sub-container {
    height: 100%;
    overflow-x: scroll;
}

.top-10-header-row {
    z-index: 30;
    height: 250px;
    margin-bottom: 50px;
    background-color: var(--dark-color-1);
}

.top-10-head-h1 {
    font-size: var(--txt-top10-h1);
    font-weight: 400;
    color: var(--primary-color-1);
}

.top-10-head-h3 {
    color: var(--secondary-color-3);
}

/* #endregion */

/* #region =====  List ==== */
.top-row-wrapper {
    position: relative;
    z-index: 1;
    height: 220px;
    margin-bottom: 50px;
}

.top-10-number-backgr {
    display: relative;
    width: 150px !important;
    background-color: var(--primary-color-1);
}

.top-10-number {
    position: relative;
    left: 1px;
    top: 30px;
    width: 110%;
    text-align: center;
}

.top-10-number h2 {
    font-size: var(--txt-top10-number);
    color: var(--secondary-color-1);
}

.top-10-text {
    font-size: var(--text-xl);
    text-align: justify;
}
/* #endregion */

/* #endregion */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - MEDIA QUERIES  :::::::::::::::::::::::::::: */

/* #region ==== Bootstrap xl - 1200px and down ======================== */

@media (max-width: 1200px) {
}

/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP lg - 992px and down ========================= */

@media (max-width: 992px) {
    .landing-nav-container {
        font-size: 0.8rem;
    }

    .landing-hero-image {
        transform: scale(0.85);
        right: -30px;
        top: -45px;
    }

    .landing-text {
        text-align: left !important;
    }

    .landing-text-bg {
        width: 200%;
        height: 60px;
    }

    .landing-all-text-wrapper {
        width: 80% !important;
    }

    .landing-1-text {
        font-weight: 500;
        padding-right: 0px;
    }

    .landing-col-filler {
        width: calc(992px - 850px);
    }

    .landing-1-backgr {
        right: 0px;
        width: 100%;
    }

    .landing-3-backgr {
        right: 0px;
        top: 0px;
        width: 100%;
    }

    .top-10-button {
        top: 140px;
        margin: 0 40px;
    }

    .landing-3-wrapper {
        padding-right: 0;
        margin-top: 25px;
    }

    .marg-top {
        margin-top: 10px;
    }
}
/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP md - 768px and down ========================= */
@media (max-width: 768px) {
    .marg-top {
        margin-top: 10px;
    }

    .landing-nav-container {
        font-size: 0.7rem;
    }

    .landing-text {
        text-align: center !important;
    }

    .landing-1-backgr {
        width: 100%;
    }

    .landing-3-backgr {
        top: 10px;
        width: 100%;
        right: 0px;
        top: 0px;
        height: 50px !important;
    }

    .landing-all-text-wrapper {
        width: 100% !important;
    }

    .top10-button-wrapper {
        width: 130%;
        top: -75px;
        left: -20px;
    }

    .top10-button-text {
        left: 0px;
    }

    .top10-button-text-inner {
        position: relative;
        right: 50px;
        top: 5px;
        width: 50%;
    }

    .top10-button-img {
        left: 25px;
    }

    .top10-button-icon {
        position: relative;
        right: 15px;
    }

    .top10-button-text div h3 {
        font-size: var(--text-xl);
    }

    .top10-button-text div h4 {
        bottom: 10px;
        font-size: var(--text-md);
    }
}
/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP sm - 576px and down ========================= */
@media (max-width: 576px) {
    .landing-nav-container {
        font-size: 0.55rem;
    }

    .landing-text {
        text-align: center !important;
        padding: 0 10px !important;
        margin: 0 !important;
    }

    .landing-3-text {
        right: 0px;
        top: 0px;
        width: 100%;
    }

    .top10-button-text-inner {
        position: relative;
        right: 50px;
        top: 5px;
        width: 50%;
    }

    .top10-button-text div h3 {
        font-size: var(--text-xl);
    }

    .top10-button-text div h4 {
        bottom: 10px;
        font-size: var(--text-md);
    }
}
/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP sm - 430px and down ========================= */
@media (max-width: 576px) {
    .landing-1-backgr {
        height: 100px !important;
    }
}
/* #endregion ----------------------------------------------------------*/

/* #endregion ----------------------------------------------------------*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* #region ::::::::::: 1# - MORPHING MENU  :::::::::::::::::::::::::::: */
/* Creative Morphing Menu with jQuery and CSS3 */
/* https://www.jqueryscript.net/menu/Creative-Morphing-Menu-with-jQuery-CSS3.html */

.open {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.open:hover {
    opacity: 0.8;
}

.open span {
    display: block;
    float: left;
    clear: both;
    height: 4px;
    width: 40px;
    border-radius: 40px;
    background-color: #fff;
    position: absolute;
    right: 3px;
    top: 3px;
    overflow: hidden;
    transition: all 0.4s ease;
}

.open span:nth-child(1) {
    margin-top: 10px;
    z-index: 9;
}

.open span:nth-child(2) {
    margin-top: 25px;
}

.open span:nth-child(3) {
    margin-top: 40px;
}

.sub-menu {
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    height: 0;
    width: 0;
    right: 0;
    top: 0;
    position: absolute;
    background-color: rgba(38, 84, 133, 0.54);
    border-radius: 50%;
    z-index: 18;
    overflow: hidden;
}

.sub-menu li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sub-menu li:first-child {
    margin-top: 180px;
}

.sub-menu li:nth-child(1) {
    -webkit-transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
}

.sub-menu li:nth-child(3) {
    -webkit-transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
    -webkit-transition-delay: 0.2s;
}

.sub-menu li:nth-child(5) {
    -webkit-transition-delay: 0.25s;
}

.sub-menu li a {
    color: #fff;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 100%;
    display: block;
    float: left;
    line-height: 40px;
}

.oppenned .sub-menu {
    opacity: 1;
    height: 400px;
    width: 400px;
}

.oppenned span:nth-child(2) {
    overflow: visible;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
    z-index: 100;
    transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(12px);
}

.oppenned span:nth-child(2) {
    height: 400px;
    width: 400px;
    right: -160px;
    top: -160px;
    border-radius: 50%;
    background-color: rgba(38, 84, 133, 0.54);
}

.oppenned span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px) translateX(10px);
}

.oppenned li {
    margin-right: 168px;
}

/* #endregion ----------------------------------------------------------*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
