@import url('variables.css');

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

h1 {
    font-size: var(--text-xxl);
    font-family: var(--font-family-headers-lg);
    color: var(--primary-color-6);
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 600;
}

h2 {
    font-size: var(--text-xl);
    font-family: var(--font-family-headers-lg);
    color: var(--secondary);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}

h3 {
    font-size: var(--text-lg);
    font-family: var(--font-family-headers-md);
    color: var(--secondary-color-0);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
}

h4 {
    font-size: var(--text-mdl);
    font-family: var(--font-family-headers-md);
    color: var(--primary-color-7);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

h5 {
    font-size: var(--text-md);
    font-family: var(--font-family-headers-md);
    color: var(--secondary-color-8);
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 500;
}

.container-fluid {
    max-width: var(--screen-max-width);
    height: 100vh;
    overflow: hidden;
}

.red {
    background-color: red !important;
}

.blue {
    background-color: blue !important;
}

/* #region ==== G E N E R I C =============================================== */

.relative {
    position: relative;
}

/* #endregion =============================================================== */

/* #region ==== Landing area */

.main-page-header-background {
    background-image: url(../img/track-sky-1920-1080.jpg);
}

.header-background-full {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.landing-nav-container {
    position: relative;
    font-size: 1rem;
}

.marg-top {
    margin-top: 100px;
}

.landing-nav-container-wide {
    max-width: var(--screen-max-width);
}

.landing-nav-container-narrow {
    max-width: 992px;
}

.landing-text {
    text-align: left !important;
}

.landing-1-wrapper {
    position: relative;
    width: 200%;
    margin-top: 200px;
    background: linear-gradient(
        to right,
        rgba(175, 216, 230, 0) 0%,
        rgba(41, 137, 216, 0.6) 100%
    );
}

.landing-1 {
    display: block;
    font-size: var(--text-xxl);
    color: var(--primary-color-7);
}

.landing-2-wrapper {
    position: relative;
    width: 200%;
    background: linear-gradient(
        to right,
        rgba(175, 216, 230, 0) 0%,
        rgba(41, 137, 216, 0.6) 100%
    );
}

.landing-2 {
    display: block;
    font-size: var(--text-mdl);
    color: var(--secondary-color-0);
}

.landing-3-wrapper {
    position: relative;
    width: 200%;
    background: linear-gradient(
        to right,
        rgba(175, 216, 230, 0) 0%,
        rgba(41, 137, 216, 0.6) 100%
    );
}

.landing-3 {
    font-size: var(--text-xxxxl);
    color: var(--primary-color-7);
}

.landing-hero-full-wrapper {
    position: sticky;
    left: 50%;
    top: 10%;
    z-index: 10;
}

.landing-hero-full-wrapper img {
    max-width: 500px;
}

.top-10-button {
    position: relative;
    z-index: 5;
    top: -60px;
    width: 100%;
    height: 100px;
}

.top-10 {
    display: block;
    letter-spacing: 10px !important;
}

.top-10-one {
    font-size: var(--text-xl);
}

.top-10-two {
}

.overlay {
    position: absolute;
    z-index: 20;
    background-color: transparent;
    border: 1px solid black;
}

.overlay:hover {
    background-color: rgba(41, 137, 216, 0.6);
}

.overlay:active {
    outline: none;
}

/* #endregion */

/* #region ::::::::::: 1# - MEDIA QUERIES  :::::::::::::::::::::::::::: */

/* #region ==== Bootstrap xl - 1200px and down ======================== */

@media (max-width: 1200px) {
}

/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP lg - 992px and down ========================= */

@media (max-width: 992px) {
    .landing-nav-container {
        font-size: 0.8rem;
    }

    .landing-hero-full-wrapper img {
        transform: scale(0.9, 0.9);
    }
}
/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP md - 768px and down ========================= */
@media (max-width: 768px) {
    .marg-top {
        margin-top: 10px;
    }

    .landing-nav-container {
        font-size: 0.7rem;
    }

    .landing-text {
        text-align: center !important;
        width: 100% !important;
    }

    .top-10-button {
        top: -223px;
        height: 150px;
        padding-top: 60px;
    }
}
/* #endregion ----------------------------------------------------------*/

/* #region ==== BOOTSTRAP sm - 576px and down ========================= */
@media (max-width: 576px) {
    .landing-nav-container {
        font-size: 0.6rem;
    }
}
/* #endregion ----------------------------------------------------------*/

/* #endregion ----------------------------------------------------------*/
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
